body, html {
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: #efefef;
}

.clear {
	clear: both;
}

#picker {
	position: absolute;
    left: 0;
    top: 0;
    right: 0;
    margin: 2em auto;
    max-width: 800px;
    background-color: white;
    padding: 2em;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3), 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

#picker .body {
	display: flex;
	flex-direction: row;
}

#picker .content {
	flex-grow: 1;
}

#picker .image {
	width: 100%;
	max-width: 300px;
	height: 100%;
	max-height: auto;
	margin-right: 1em;
	align-self: center;
}

#picker .datepicker {
	width: 100%;
	max-width: 300px;
	margin: 1em auto;
}

#picker .datepicker td {
	width: 33%;
	text-align: center;
	position: relative;
}

#picker .datepicker button {
	width: 100%;
}

#picker .datepicker tr:nth-child(2) td:nth-child(1):after,
#picker .datepicker tr:nth-child(2) td:nth-child(2):after {
	display: block;
	content: "/";
	position: absolute;
	top: 0;
	left: 100%;
}

#picker .save, #picker .cancel {
	padding: 1em;
	margin-top: 1em;
	margin-right: 4pt;
}

label {
	display: block;
	margin-top: 1em;
}

label span {
	font-size: 0.8em;
	display: block;
	color: rgba(0, 0, 0, 0.54);
}

label input {
	display: block;
	width: 100%;
}

body > .items {
	display: flex;
	flex-direction: column;
	max-width: 800px;
	margin: 1em auto;
}

body > .items > .item {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 2em;
	padding: 1em;
	background-color: white;
	border-radius: 3pt;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

body > .items > .item > img {
	max-width: 12em;
	max-height: 10em;
	margin: -1em 5pt -1em -1em;
	flex-shrink: 0;
	border-radius: 3pt;
}

body > .items > .item > .name {
	flex-grow: 1;
}

body > .items > .item > table {
	flex-shrink: 0;
}