body, html {
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: #efefef;
}

.clear {
	clear: both;
}

.dialog {
	position: absolute;
    left: 0;
    top: 0;
    right: 0;
    margin: 2em auto;
    max-width: 800px;
    background-color: white;
    padding: 2em;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3), 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.dialog .body {
	display: flex;
	flex-direction: row;
}

.dialog .content {
	flex-grow: 1;
}

h1 {
	text-align: center;
}

button.scan {
	margin: auto;
	display: block;
	padding: 8pt 32pt;
}

#picker .image {
	width: 100%;
	max-width: 300px;
	height: 100%;
	max-height: auto;
	margin-right: 1em;
	align-self: center;
}

#picker .datepicker {
	width: 100%;
	max-width: 300px;
	margin: 1em auto;
}

#picker .datepicker td {
	width: 33%;
	text-align: center;
	position: relative;
}

#picker .datepicker button {
	width: 100%;
}

#picker .datepicker tr:nth-child(2) td:nth-child(1):after,
#picker .datepicker tr:nth-child(2) td:nth-child(2):after {
	display: block;
	content: "/";
	position: absolute;
	top: 0;
	left: 100%;
}

#picker .save, #picker .cancel {
	padding: 1em;
	margin-top: 1em;
	margin-right: 4pt;
}

label {
	display: block;
	margin-top: 1em;
}

label span {
	font-size: 0.8em;
	display: block;
	color: rgba(0, 0, 0, 0.54);
}

label input {
	display: block;
	width: 100%;
}

.items {
	display: flex;
	flex-direction: column;
	max-width: 800px;
	margin: 1em auto;
}

.items > .item {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 2em;
	padding: 1em;
	background-color: white;
	border-radius: 3pt;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	position: relative;
}

.items > .item > .stock {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 4px;
	border-bottom-left-radius: 3pt;
	background-color: rgba(0, 0, 0, 0.5);
}

.items > .item > .stock.stored0 {
	background-color: rgba(197, 0, 0, 0.5);
}

.items > .item > .stock.stored1 {
	background-color: rgba(219, 106, 0, 0.5);
}

.items > .item > .stock.stored2 {
	background-color: rgba(255, 230, 0, 0.5);
}

.items > .item > .stock.stored3 {
	background-color: rgba(145, 255, 0, 0.5);
}

.items > .item > .stock.stored4 {
	background-color: rgba(31, 204, 0, 0.5);
}

.items > .item > .stock.stored5 {
	background-color: rgba(31, 204, 0, 0.5);
	border-bottom-right-radius: 3pt;
}

.items > .item > .image {
	width: 12em;
	align-self: stretch;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	border-radius: 3pt;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin: -1em 5pt -1em -1em;
	overflow: hidden;
	flex-shrink: 0;
}

.items > .item > .image > img {
	max-width: 12em;
	max-height: 10em;
	flex-shrink: 0;
	flex-grow: 0;
}

.items > .item > .name {
	flex-grow: 1;
}

.items > .item > table {
	flex-shrink: 0;
}

.items > .item > .actions {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: stretch;
	align-self: stretch;
}

.items > .item > .actions > button {
	flex-grow: 1;
	margin: 4pt;
}

@media screen and (max-width: 600px) {
	.items > .item {
		flex-direction: column;
		padding-top: 10em;
		position: relative;
	}

	.items > .item > .image {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 10em;
		margin: 0;
		border-top-right-radius: 3pt;
		border-bottom-left-radius: 0;
	}
}

#usage input {
	display: block;
	padding: 1em 0;
	width: 100%;
}